<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Currency Converter</title>
    <script type="text/javascript" src="../scripts/script.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div>
        <p>Список товаров:</p>
        <ul id="goods"></ul>
    </div>
    <div id="cartWrapper">
        <p>Товары в корзине:</p>
        <ul id="cart"></ul>
        <p>Итого к оплате:</p>
        <ul id="totalPrice"></ul>
        <button id="getTotalCart">Пересчитать корзину</button>
    </div>
</body>

</html>